{% extends "base.html" %}

{% block pageTitle %}Update Password{% endblock %}

{% block mainContent %}

<div class="card-style card white">
    <h4 class="box-title">Update Password</h4>
    <div class="card-body">

        {{ showInfoMessage('Type your current and new password below. Your new password cannot be the same as your current password') }}

        {{ openForm("/Hms/Account/UpdatePassword") }}

        <div class="form-row">
            <div class="col">
                <div class="form-group">
                    <label for="password1">Current Password</label>
                    <input type="password"
                           minlength="8"
                           maxlength="15"
                           autocomplete="off"
                           name="password1"
                           id="password1"
                           class="form-control" required autofocus>
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    <label for="password2">New Password</label>
                    <input type="password"
                           minlength="8"
                           maxlength="15"
                           autocomplete="off"
                           name="password2"
                           id="password2"
                           class="form-control" required autofocus>
                </div>
            </div>
        </div>

        {{ printErrorList(errorList) }}

        <div class="row">
            <div class="col">
                <button type="submit" class="btn btn-primary float-right">
                    Update Password
                </button>
            </div>
        </div>

        {{ closeForm() }}
    </div>
</div>

{% endblock %}