{% extends "base.html" %}

{% block pageTitle %}Lab Tests{% endblock %}

{% set useFluidContainer = true %}
{% block mainContent %}
<div class="card-style card white">
    <h4 class="box-title">Lab Tests</h4>
    <div class="card-body">
        <div class="table-responsive">
            <table data-order="[]" class="table datatable table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th>Patient ID</th>
                    <th>Patient Name</th>
                    <th>Procedure</th>
                    <th>Examiner</th>
                    <th>Department</th>
                    <th>Performed On</th>
                    <th>Options</th>
                </tr>
                </thead>
                <tbody>
                {% for test in tests %}
                <tr>
                    <td>{{ test.patientMrn | escape }}</td>
                    <td>{{ test.patientName | escape }}</td>
                    <td>{{ test.procedureName | escape }}</td>
                    <td>{{ test.examinerName | escape }}</td>
                    <td>{{ test.department | escape }}</td>
                    <td>{{ formatDate(test.createdAt, true) | escape }}</td>
                    <td>
                        <div class="btn-group">
                            <a href="#"
                               class="dropdown-toggle"
                               data-toggle="dropdown"
                               aria-haspopup="true"
                               aria-expanded="false">Options
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="/Hms/Lab/Tests/{{ test.id }}/Details">Details</a>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}