{% extends "base.html" %}

{% block pageTitle %}Update Password{% endblock %}

{% block mainContent %}

<div class="container mx-auto mt-4">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h4 class="panel-title">Update Password</h4>
        </div>
        <div class="panel-body mt-4">
            <div class="alert alert-info">
                <p class="lead"><strong>Note</strong> Contact your system administrator if you are unable to change the
                    password</p>
            </div>

            {{ openForm("/Hms/Account/UpdatePassword") }}

            <div class="form-row">
                <div class="col-5">
                    <div class="form-group">
                        <label for="password1">Current Password</label>
                        <input type="password"
                               minlength="8"
                               maxlength="15"
                               autocomplete="off"
                               name="password1"
                               id="password1"
                               class="form-control" required autofocus>
                    </div>
                </div>

                <div class="col-5">
                    <div class="form-group">
                        <label for="password2">New Password</label>
                        <input type="password"
                               minlength="8"
                               maxlength="15"
                               autocomplete="off"
                               name="password2"
                               id="password2"
                               class="form-control" required autofocus>
                    </div>
                </div>
            </div>

            {{ printErrorList(errorList) }}

            <div class="form-group">
                <button type="submit" class="btn btn-primary mb-2">
                    Update Password
                </button>
            </div>

            {{ closeForm() }}

        </div>
    </div>

</div>

{% endblock %}



