{% extends "base.html" %}

{% block pageTitle %}New Prescription{% endblock %}

{% block menuBlock %}

<li class="nav-item">
    <a href="/Hms/Prescriptions"
       class="nav-link"><i class="fa fa-chevron-left"></i> Back to prescriptions</a>
</li>

{% endblock %}

{% block mainContent %}
<div class="card-style card white">
    <h4 class="box-title">New Prescription</h4>
    <div class="card-body">

        <div class="alert alert-info" role="alert">
            <h5>Enter Patient MRN</h5>
            <p>Enter the ID of the patient whom you want to file a prescription for.</p>
        </div>

        {{ openForm("/Hms/Prescriptions/Add") }}

        <div class="form-row">
            <div class="col">
                <div class="form-group">
                    {{ labelFor("mrn", "Patient Medical Records Number (ID)", true) }}
                    <input type="text"
                           id="mrn"
                           name="mrn"
                           autocomplete="off"
                           minlength="5"
                           maxlength="20"
                           autofocus
                           required
                           value="{{ mrn | escape }}"
                           placeholder="Patient MRN"
                           class="form-control">
                </div>
            </div>
        </div>

        {{ printErrorList(errorList) }}

        <div class="form-row">
            <div class="col">
                <button type="submit" class="float-right btn btn-primary">
                    Save
                </button>
            </div>
        </div>

        {{ closeForm() }}
    </div>
</div>
{% endblock %}