{% extends "base.html" %}

{% block pageTitle %}Add New Location{% endblock %}

{% block mainContent %}
<div class="card-style card white">
    <h4 class="box-title">Add Medicine Location</h4>
    <div class="card-body">

        {{ openForm("/Hms/MedicineLocations/Add") }}

        <div class="form-row">
            <div class="col">
                <div class="form-group">
                    {{ labelFor("name", "Location", true) }}
                    <input type="text"
                           id="name"
                           name="name"
                           autocomplete="off"
                           minlength="2"
                           maxlength="50"
                           autofocus
                           required
                           value="{{ name | escape }}"
                           placeholder="Location name"
                           class="form-control">
                </div>
            </div>
        </div>

        {{ printErrorList(errorList) }}

        <div class="form-row">
            <div class="col">
                <button type="submit" class="float-right btn btn-primary">
                    Add Location
                </button>
            </div>
        </div>

        {{ closeForm() }}
    </div>
</div>
{% endblock %}