{% extends "base.html" %}

{% block pageTitle %}Add Patient Vitals{% endblock %}

{% block mainContent %}
<div class="card-style card white">
    <h4 class="box-title">Add Patient Vitals</h4>
    <div class="card-body">

        {{ openForm("/Hms/NurseStation/Vitals/Add") }}

        <div class="form-row">
            <div class="col">
                <div class="form-group">
                    {{ labelFor("mrn", "Patient ID", true) }}
                    {{ inputText(true, "mrn", mrn, {'autocomplete': 'off', 'min':5, 'max': 20, 'hint': 'Patient ID' }) }}
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col">
                <div class="form-group">
                    {{ labelFor("pulse", "Heart rate", true) }}
                    <input type="text"
                           id="pulse"
                           name="pulse"
                           autocomplete="off"
                           minlength="1"
                           maxlength="3"
                           autofocus
                           required
                           value="{{ pulse | escape }}"
                           placeholder="Heart rate"
                           class="form-control">
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    {{ labelFor("breaths", "Respiratory rate", true) }}
                    <input type="text"
                           id="breaths"
                           name="breaths"
                           autocomplete="off"
                           minlength="1"
                           maxlength="3"
                           autofocus
                           required
                           value="{{ breaths | escape }}"
                           placeholder="Respiratory rate"
                           class="form-control">
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    {{ labelFor("systolic", "Systolic pressure", true) }}
                    <input type="text"
                           id="systolic"
                           name="systolic"
                           autocomplete="off"
                           minlength="1"
                           maxlength="3"
                           autofocus
                           required
                           value="{{ systolic | escape }}"
                           placeholder="Systolic pressure"
                           class="form-control">
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    {{ labelFor("diastolic", "Diastolic pressure", true) }}
                    <input type="text"
                           id="diastolic"
                           name="diastolic"
                           autocomplete="off"
                           minlength="1"
                           maxlength="3"
                           autofocus
                           required
                           value="{{ diastolic | escape }}"
                           placeholder="Diastolic pressure"
                           class="form-control">
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    {{ labelFor("temperature", "Temperature", true) }}
                    <input type="text"
                           id="temperature"
                           name="temperature"
                           autocomplete="off"
                           minlength="1"
                           maxlength="3"
                           autofocus
                           required
                           value="{{ temperature | escape }}"
                           placeholder="Temperature"
                           class="form-control">
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    {{ labelFor("tempUnits", "Temperature Units", true) }}
                    {{ formDropDown(units, "tempUnits", "tempUnits", tempUnits) }}
                </div>
            </div>
        </div>

        {{ printErrorList(errorList) }}

        <div class="form-row">
            <div class="col">
                <button type="submit" class="float-right btn btn-primary">
                    Save
                </button>
            </div>
        </div>
        {{ closeForm() }}
    </div>
</div>
{% endblock %}