{% extends "base.html" %}

{% set useFluidContainer = true %}

{% block pageTitle %}{{ patient.fullname() | escape }}'s documents{% endblock %}

{% set canEdit = "EditPatientAttachments" in userPermissions %}

{% block mainContent %}
<div class="card-style card white">
    <h4 class="box-title">{{ patient.fullname() | escape }}'s documents</h4>
    <div class="card-body">
        <div class="table-responsive">
            <table data-order="[]" class="table datatable table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Download</th>
                    <th>Hidden From Patient</th>
                    <th>Uploaded On</th>
                    {% if canEdit %}
                    <th>Options</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for document in documents %}
                <tr>
                    <td>{{ document.name | escape }}</td>
                    <td>
                        <a href="/Hms/Patients/{{ document.patientId }}/Documents/{{ document.id }}/Download">Download</a>
                    </td>
                    <td>{{ yesOrNo(document.hidden) | escape }}</td>
                    <td>{{ formatDate(document.created, true) | escape }}</td>
                    {% if canEdit %}
                    <td>
                        <div class="btn-group">
                            <a href="#"
                               class="dropdown-toggle"
                               data-toggle="dropdown"
                               aria-haspopup="true"
                               aria-expanded="false">Options
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="/Hms/Patients/{{ document.patientId }}/Documents/{{ document.id }}/Edit">Edit</a>
                                <a class="dropdown-item" href="/Hms/Patients/{{ document.patientId }}/Documents/{{ document.id }}/Delete">Delete</a>
                            </div>
                        </div>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}