{% extends "base.html" %}

{% block pageTitle %}{{ listTitle | escape }}{% endblock %}

{% set canModify = ("AccessScheduleModule" in userPermissions) and (backToDoctors == false) %}

{% block menuBlock %}

{% if backToDoctors %}

<li class="nav-item">
    <a href="/Hms/Doctors"
       class="nav-link"><i class="fa fa-chevron-left"></i> Back to doctors</a>
</li>
{% else %}

{{ parent() }}

{% endif %}

{% endblock %}

{% block mainContent %}
<div class="card-style card white">
    <h4 class="box-title">{{ listTitle | escape }}</h4>
    <div class="card-body">
        {{ showInfoMessage('<strong>NOTE</strong> Days will automatically disappear once the date and time passes.') }}
        <div class="table-responsive">
            <table data-order="[]" class="table datatable table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Available From</th>
                    <th>Until</th>
                    <th>Duration</th>
                    {% if canModify %}
                    <th>Options</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for day in days %}
                <tr>
                    <td data-order="{{ ldt2t(day.starts) }}">{{ formatDate(day.starts, false) | escape }}</td>
                    <td>{{ day.getStartingTime() | escape }}</td>
                    <td>{{ day.getEndingTime() | escape }}</td>
                    <td>{{ day.getDuration() | escape }}</td>
                    {% if canModify %}
                    <td>
                        <a href="/Hms/Schedules/{{ day.id }}/Delete">Delete</a>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}