{% extends "base.html" %}

{% block pageTitle %}New Death Report{% endblock %}

{% block menuBlock %}

<li class="nav-item">
    <a href="/Hms/Patients/{{ patient.id }}/Death"
       class="nav-link"><i class="fa fa-chevron-left"></i> Back</a>
</li>

{% endblock %}

{% block mainContent %}
<div class="card-style card white">
    <h4 class="box-title">Add Death Report for {{ patient.fullname() | escape }} (#{{ patient.mrn | escape }})</h4>
    <div class="card-body">

        {{ showInfoMessage("This will deactivate this patient's account and update its status to expired.") }}

        {{ openForm("/Hms/Patients/"~ patient.id ~"/Death/Report", '', true) }}

        <div class="form-row">
            <div class="col">
                <div class="form-group">
                    {{ labelFor("date", "Date of death", true) }}
                    {{ dateSelector(true, "date", date) }}
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    {{ labelFor("time", "Time of death", true) }}
                    {{ timeSelector(true, "time", time) }}
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    {{ labelFor("attachment", "Attachments", true) }}
                    {{ filePicker(true, "attachment", "application/pdf") }}
                </div>
            </div>
        </div>

        {{ printErrorList(errorList) }}

        <div class="form-row">
            <div class="col">
                <button type="submit" class="float-right btn btn-primary">
                    Save
                </button>
            </div>
        </div>
        {{ closeForm() }}
    </div>
</div>
{% endblock %}