{% extends "base.html" %}

{% block pageTitle %}Patient Vitals{% endblock %}

{% block mainContent %}

<div class="card-style card white">
    <h4 class="box-title">Patient Vitals</h4>
    <div class="card-body">
        {{ showInfoMessage('Recently recorded vitals are displayed first.') }}
        <div class="table-responsive">
            <table data-order="[]" class="table datatable table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th>Heart Rate</th>
                    <th>Respiratory Rate</th>
                    <th>Body Temperature</th>
                    <th>Blood Pressure</th>
                    <th>Recorded On</th>
                </tr>
                </thead>
                <tbody>
                {% for vital in vitals %}
                <tr>
                    <td data-order="{{ vital.pulse | escape }}">{{ vital.pulse | escape }} bpm</td>
                    <td data-order="{{ vital.breaths | escape }}">{{ vital.breaths | escape }} BPM</td>
                    <td data-order="{{ vital.temperature }}">{{ vital.temperature | escape }}  {{ vital.tempUnits.symbol | escape }}</td>
                    <td data-order="{{ vital.systolic }}/{{ vital.diastolic }}">{{ vital.systolic | escape }}/{{ vital.diastolic | escape }} mmHg</td>
                    <td data-order="{{ ldt2t(vital.created) }}">{{ formatDate(vital.created, true) | escape }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}