{% extends "base.html" %}

{% block pageTitle %}Reset Password{% endblock %}
{% block loginText %}Type your new password below{% endblock %}

{% set formAction = '/Auth/ChangePassword' %}

{% block input %}

<input type="hidden" name="subject" value="{{ subjectId | escape }}"/>
<input type="hidden" name="type" value="{{ subjectType | escape }}"/>
<input type="hidden" name="token" value="{{ token | escape }}"/>

<div class="form-label-group">
    <input type="password"
           id="password1"
           minlength="8"
           maxlength="15"
           class="form-control"
           placeholder="New Password" required autofocus>
    <label for="password1">New Password</label>
</div>

<div class="form-label-group">
    <input type="password"
           name="password"
           id="password2"
           minlength="8"
           maxlength="15"
           class="form-control"
           placeholder="Confirm Password" required autofocus>
    <label for="password2">Confirm Password</label>
</div>

{% endblock %}

{% block buttons %}
<button class="btn btn-lg btn-primary btn-block" type="submit">Change Password</button>
{% endblock %}

{% block footerScripts %}
<script>
    $(function(){
        document["forms"][0].onsubmit = function(){
            var pwd1 = password1.value || '';
            var pwd2 = password2.value || '';
            if(pwd2 !== pwd1){
                alert('Your password and confirmation password do not match');
                return false;
            }
            return true;
        };
    });

</script>
{% endblock %}